extends layout

block content
  h1 TODO
  
  #createTodo
    form(action='/todos', method='POST')
      .form-group
        input.form-control(type='input', name='content')
        input.btn.btn-default(type='submit', value='新增')

  h2 TODO 列表
  div
    a.btn.btn-default(href='/todos', role='button') 未完成
    a.btn.btn-default(href='/todos?status=1', role='button') 已完成

  #errMsg
    if errMsg
      pre= errMsg

  div
    table.table
      thead
        colgroup
          col.col-xs-10
          col.col-xs-1
          col.col-xs-1
        tr
          th 描述
          th 所有者
          th 操作
      each todo in todos
        tr
          td
            form(action='/todos/#{todo.id}/#{status == 0 ? "done" : "undone" }', method='POST')
              .checkbox
                label
                  input(type='checkbox', checked=(todo.get('status') == 1), onClick='submit()')
                  | #{todo.get('content')}
          td= todo.get('author') == null ? '' : todo.get('author').get('username')
          td
            form(action='/todos/#{todo.id}?_method=DELETE&status=#{status}', method='POST')
              input.btn.btn-default(type='submit', value='删除')
